@import "variables";

.banner {
    grid-column:  1 / 7;
    min-height: 326px;
    background: linear-gradient(112deg, rgba(255, 64, 87, 0.65) 0%, rgba(253, 79, 80, 0.84) 20%, rgba(237, 125, 71, 0.89) 60%, rgba(193, 164, 89, 0.71) 100%);
    display: flex;
    align-items: flex-end;

    &__content{
        padding: 32px 30px;
        
    }

    &__heading {
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
        color:  $dark1;
        margin: 0;
        margin-bottom: 16px;
    }

    &__text {
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: $dark1;
    }

}

@media screen and (min-width: 768px) {
    .banner {
        border-radius: 16px;

        &__content{
            padding: 64px 64px;
            
        }
    }

}
