@import "variables";

.hero { 
    margin-top: 46px;
    margin-bottom: 80px;
    grid-column: 2 / span 5;

    &__content {
        display: flex;
        position: relative;
        overflow-x: auto;
    }

    &__text-container {
        display: flex;
        flex-basis: 50%;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 32px;
        margin-top: 32px;
        min-width: 274px;
    }

    &__text {
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: $dark2;
        margin: 0;
    }

    &__heading {
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
        color: $dark1;
        margin: 0;
    }
    
    &__image-container {
        text-align: center;
        flex-basis: 50%;
    }

    &__image {
        height: 278px;
        margin-left: 20px;
    }

    &__link {
        max-width: 188px;
        text-decoration: none;
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        color: $dark1;
        padding: 18px 52px;
        border: 4px solid transparent;
        border-radius: 50px;
        background: linear-gradient(white, white) padding-box,
        linear-gradient(112deg, rgba(255, 64, 87, 0.65) 0%, rgba(253, 79, 80, 0.84) 20%, rgba(237, 125, 71, 0.89) 60%, rgba(193, 164, 89, 0.71) 100%) border-box;
    }

    &__teaser {
        color: $pink;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }

 
}

@media screen and (max-width: 767px) {
   
}

@media screen and (min-width: 768px) {
    .hero {
        margin-top: 180px;
        margin-bottom: 180px;
        grid-column: 2 / span 4;

        &__heading {
            font-weight: 900;
            font-size: 96px;
            line-height: 116px;
        }
    }

    .hero__image {
        height: 520px;
    }

}